<h1>Login</h1>

<%= form_for :user, path: '/login' do |f| %>
    <div class='form_error_message'>
        <p><%= @error %></p>
    </div>

    Username: <%= f.text_field :username %>
    
    Password: <%= f.password_field :password %>

    <%= f.submit 'Login' %>
<% end %>

<br>

<%= link_to 'Go to Signup Page', new_user_path %>  
