<h4>New User Signup</h4>

<%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.label :'username:' %>
    <%= f.text_field :username %> 
    <div class='form_error_message'>
        <p><%= @user.errors.full_messages_for(:username).first %></p>
    </div>

    <%= f.label :'password:' %>
    <%= f.password_field :password %> 
    <div class='form_error_message'>
        <p><%= @user.errors.full_messages_for(:password).first %></p>
    </div>

    <%= f.label :'password confirmation:' %>
    <%= f.password_field :password_confirmation %>
    <div class='form_error_message'>
        <p><%= @error %></p>
    </div>
    <%= f.submit 'Signup', class: "btn blue darken-4"  %>
<% end %>

<br>
<%= link_to 'Go to Login Page', login_path %>
