<h1>New User Signup</h1>

<%= form_for @user do |f| %>
    <%= f.label :'username:' %>
    <%= f.text_field :username %> 
    <div class='form_error_message'>
        <p><%= @user.errors.full_messages_for(:username).first %></p>
    </div>

    <%= f.label :'password:' %>
    <%= f.password_field :password %> 
    <div class='form_error_message'>
        <p><%= @user.errors.full_messages_for(:password).first %></p>
    </div>

    <%= f.label :'password confirmation:' %>
    <%= f.password_field :password_confirmation %>
    <div class='form_error_message'>
        <p><%= @error %></p>
    </div>
    <%= f.submit %>
<% end %>
<br>
<%= link_to 'Go to Login Page', login_path %>
