profile

<h1>My games</h1>

<p>Games you created:</p>

<div class='my-games'>
</div>

<p>Games you made suggestions to:</p>
<%= render 'games/suggested_games' %>

<h2><%= link_to 'Make a new game', new_game_path %></h2>

<h2><%= link_to 'My Games', my_games_path %></h2>

<h4>Logged in as <%= current_user.username %> | <%= link_to "Logout", logout_path %></h4>