

<h4>All games</h4>

<div>
    <ol>
        <% @games.each do |g| %>
            <li> <%= link_to g.title, game_path(g) %> </li>
        <% end %>
    </ol>
</div>

<% if @genre && @games.empty? %>
    <p><i>   There are currently no  submissions in the <%= @genre.name %> genre.</i> </p>
<% end %>



<p>Filter by Genre:</p>

<%= form_tag(games_path, {method: :get}) do %>
    <%= select_tag :genre_id, options_from_collection_for_select(@genres, "id", "name") %>
    <br>
    <%= submit_tag 'Filter', name: nil %>
<% end %>
<br

<p>Logged in as <%= current_user.username %> | <%= link_to "Logout", logout_path %></p>

<script id="games-template" type="text/x-handlebars-template">
    <li> 
        <a href="games/{{id}}"">{{title}}</a>
    </li>
</script>

<script id="suggestions-template" type="text/x-handlebars-template">
    <li> 
        <p>{{content}}</p>
        <p class='author'>Submitted by {{author}}</p>
    </li>
</script>