

<h1>All games</h1>

<p class="sort-games">All games: Oldest to Newest | <%= link_to 'Newest to Oldest', games_newest_to_oldest_path, class: 'sort-game-newest' %></p>

<div class='all-games'>
    <ol>
        <% @games.each do |g| %>
            <li> <%= link_to g.title, game_path(g) %> </li>
        <% end %>
    </ol>
</div>

<% if @games.empty? %>
    <p>   No games in the <%= @genre.name %> genre.</p>
<% end %>



<p>Filter by Genre</p>

<%= form_tag(games_path, method: :get) do %>
    <%= select_tag :genre_id, options_from_collection_for_select(@genres, "id", "name") %>
    <%= submit_tag 'Search', name: nil %>
<% end %>
<br>
<h2><%= link_to 'Make a new game', new_game_path %></h2>

<h2><%= link_to 'My Games', my_games_path %></h2>

<h4>Logged in as <%= current_user.username %> | <%= link_to "Logout", logout_path %></h4>

<script id="games-template" type="text/x-handlebars-template">
    <li> 
        <a href="games/{{id}}"">{{title}}</a>
    </li>
</script>

<script id="suggestions-template" type="text/x-handlebars-template">
    <li> 
        <p>{{content}}</p>
        <p class='author'>Submitted by {{author}}</p>
    </li>
</script>