

<h1>All games</h1>
<p>Order: <%= link_to 'Oldest to Newest', games_path %> | Newest to Oldest</p>
<ol>
<% @games.each do |g| %>
    <li> <%= link_to g.title, game_path(g) %> </li>
<% end %>
</ol>

Games you made suggestions to:
<ol>
<% current_user.suggested_games.each do |g| %>
    <li> <%= link_to g.title, game_path(g) %></li>
<% end %>
</ol>
<h3><%= link_to 'Make a new game', new_game_path %></h3>

Logged in as <%= current_user.username %> | <%= link_to "Logout", logout_path %>
