<p><a href="#" class="js-next" data-id="<%=@game.id%>">Next...</a></p>

<h1 class='gameTitle'><%= @game.title %></h1>
<p class='genre'>Genre: <%= @game.genre.name %></p>
<p class='gameSummary'><%= @game.summary %></p>
<p class='username'>Created by <%= @game.user.username %></p>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(event) {
    event.preventDefault()
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/games/" + nextId + ".json", function(data) {
      $(".username").text('Created by ' + data["user"]["username"]);
      $(".genre").text('Genre: ' + data["genre"]['name']) ;
      $(".gameTitle").text(data["title"]) ;
      $(".gameSummary").text(data["summary"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>

<h2>Recent Suggestions:</h2>
<ul>
    <% @game.suggestions.order('created_at DESC').limit(5).each do |suggestion| %>
        <%= render partial: 'suggestions/suggestion_li', locals: {suggestion: suggestion} %>
    <% end %>
</ul>

<%= link_to 'Load suggestions', game_suggestions_path(@game), :class => 'load_suggestions' %>

<div class='suggestions'>
    <ol></ol>
</div>

<%= form_for [@game, @suggestion] do |f| %>
    <%= f.text_area :content, size: '55x5', :placeholder => 'Suggest an idea' %>
    <%= f.submit %>
<% end %>

<h3><%= link_to 'All games', games_path %></h3>

<script id="suggestions-template" type="text/x-handlebars-template">
    <li> 
        <p>{{content}}</p>
        <p>submitted by <%= current_user.username %></p>
        <p>Status: Pending</p>
    </li>
</script>