<h1><%= @game.title %></h1>
<p>Genre: <%= @game.genre.name %></p>
<p><%= @game.summary %></p>
<p>Created by <%= @game.user.username %></p>

<h2>Recent Suggestions:</h2>
<ul>
    <% @game.suggestions.limit(5).each do |suggestion| %>
        <%= render partial: 'suggestions/suggestion_li', locals: {suggestion: suggestion} %>
    <% end %>
</ul>

<%= link_to 'Load suggestions', game_suggestions_path(@game), :class => 'load_suggestions' %>

<div class='suggestions'>
    <ol></ol>
</div>

<%= form_for [@game, @suggestion] do |f| %>
    <%= f.text_area :content, size: '55x5', :placeholder => 'Suggest an idea' %>
    <div class='form_error_message'>
        <%= @suggestion.errors.full_messages_for(:content).first %>
    </div>
    <%= f.submit %>
<% end %>

<h3><%= link_to 'All games', games_path %></h3>