<h1><%= @game.title %></h1>
<h2>Game Summary: </h2>
<p><%= @game.summary %></p>

<h2>Suggestions:</h2>
<ul>
    <% @game.suggestions.each do |suggestion| %>
        <li><%= suggestion.content %>   Greenlit: <input type='checkbox' class='toggle'></li>
    <% end %>
</ul>

<h2>Make a suggestion: </h2>
<%= form_for [@game, @suggestion] do |f| %>
    <%= f.text_field :content, :placeholder => 'Suggest an idea' %>
    <div class='form_error_message'><%= @suggestion.errors.full_messages_for(:content).first %></div>
    <%= f.submit %>
<% end %>

<h3><%= link_to 'All games', games_path %></h3>