<h1><%= @game.title %></h1>
<p><%= @game.summary %></p>

<h2>Recent Suggestions:</h2>
<ul>
    <% @game.suggestions.limit(5).each do |suggestion| %>
        <li class=<%= "greenlit" if suggestion.greenlit? %>>
            <%= suggestion.content %>
            <%= form_for([@game, suggestion]) do |f| %>
                <%= if suggestion.greenlit?
                    'Greenlit:'
                else
                    'Pending'       
                end %> 
                 <input type='checkbox' class='greenlit' <%= "checked='checked'" if suggestion.greenlit? %>>
            <% end %>
        </li>
    <% end %>
</ul>
<h3><%= link_to 'All suggestions', game_suggestions_path(@game) %></h3>

<h3><%= link_to 'Make suggestion', new_game_suggestion_path(@game) %></h3>

<h3><%= link_to 'All games', games_path %></h3>