<h1><%= @game.title %></h1>
<p>Genre: <%= @game.genre.name %></p>
<p><%= @game.summary %></p>
<p>Created by <%= @game.user.username %></p>
<h3><%= link_to 'Edit', edit_game_path(@game) %></h3>

<h2>Recent Suggestions:</h2>
<ul>
    <% @game.suggestions.recent.each do |suggestion| %>
        <%= render partial: 'suggestions/suggestion_li', locals: {suggestion: suggestion} %>
    <% end %>
</ul>
<h3><%= link_to 'All suggestions', game_suggestions_path(@game) %></h3>

<h3><%= link_to 'Make suggestion', new_game_suggestion_path(@game) %></h3>

<h3><%= link_to 'All games', games_path %></h3>