<h1 class='gameTitle'><%= @game.title %></h1>
<p class='genre'>Genre: <%= @game.genre.name %></p>
<p class='gameSummary'><%= @game.summary %></p>
<p class='username author'>Created by <%= @game.user.username %></p>

<% if !@game.suggestions.empty? %>
    <p><%= link_to "Load suggestions (#{@game.suggestions.size - 1})", game_suggestions_path(@game), :class => 'load_suggestions' %></p>
<% end %>

<div class='suggestions'>
    <ol></ol>
</div>

<br>

<%= form_for [@game, @suggestion] do |f| %>
    <%= f.text_area :content, size: '55x5', :placeholder => 'Suggest an idea' %>
    <br>
    <%= f.submit  'Submit', class: "btn blue darken-4"  %>
<% end %>



<script id="games-template" type="text/x-handlebars-template">
    <li> 
        <a href="games/{{id}}"">{{title}}</a>
    </li>
</script>

<script id="suggestions-template" type="text/x-handlebars-template">
    <li> 
        <p>{{content}}</p>
        <p class='author'>Submitted by {{author}}</p>
    </li>
</script>