<li class=<%=class_for_suggestion_li(suggestion)%> > 
    <%= suggestion.content %>
    <%= form_for([@game, suggestion]) do |f| %>
        <%=greenlit_or_pending(suggestion)%>
        <%= f.check_box :status, class: 'greenlit-chkbox', checked: suggestion.greenlit? %>
            <%# dont forget to change Jquery selector if changing checkbox class name %>
    <% end %>
</li>

<%# class_for_suggestion_li & greenlit_or_pending are view helpers %>
