<h1><%= @game.title %></h1>
<p><%= @game.summary  %></p>

<h2>All Suggestions for <%= @game.title %>:</h2>
<ol>
    <% @game.suggestions.each do |suggestion| %>
        <%= render partial: 'suggestions/suggestion_li', locals: {suggestion: suggestion} %>
    <% end %>
</ol>
<h3><%= link_to 'Make suggestion', new_game_suggestion_path %></h3>
<h3><%= link_to 'All games', games_path %></h3>