<h1>Make a suggestion for <%= link_to @game.title, game_path(@game) %></h1>
<p><%= @game.summary  %></p>

<h2>Suggestion: </h2>

<%= form_for [@game, @suggestion] do |f| %>
    <%= f.text_area :content, size: '55x5', :placeholder => 'Suggest an idea' %>
    <div class='form_error_message'>
        <%= @suggestion.errors.full_messages_for(:content).first %>
    </div>
    <%= f.submit %>
<% end %>

<h3><%= link_to 'All games', games_path %></h3>