<h1><%= Suggestion for @game.title %></h1>
<h2>@suggestion.content </h2>

<h2>Suggestions:</h2>
<ul>
    <% @game.suggestions.each do |suggestion| %>
        <li class=<%= "greenlit" if suggestion.greenlit? %>>
            <%= suggestion.content %>
            <form action='/'>
                Greenlit:  <input type='checkbox' class='greenlit'>
            </form>
        </li>
    <% end %>
</ul>

<h2>Make a suggestion: </h2>
<%= form_for [@game, @suggestion] do |f| %>
    <%= f.text_field :content, :placeholder => 'Suggest an idea' %>
    <div class='form_error_message'><%= @suggestion.errors.full_messages_for(:content).first %></div>
    <%= f.submit %>
<% end %>

<h3><%= link_to 'All games', games_path %></h3>