<!DOCTYPE html>
<html>
  <head>
    <title>Game Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="navbar-fixed">
        <nav class="#b71c1c blue darken-4">
          <div class="container">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Game Ideas</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
              <% if !current_user %>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/signup">Signup</a></li>
              <% else %>
                  <li>Welcome, <%= current_user.username %>!</li>
                  <li><%= link_to 'My Games', my_games_path %></li>
                  <li><%= link_to 'All games', games_path %></li>
                  <li><%= link_to 'Make a new game', new_game_path %></li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      </section>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
