<!DOCTYPE html>
<html>
  <head>
    <title>Game Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="navbar-fixed">
        <nav class="#b71c1c blue darken-4">
          <div class="container">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Game Ideas</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
              <% if !current_user %>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/users/new">Signup</a></li>
              <% else %>
                  <li><%= link_to 'Make a new game', new_game_path %></li>
                  <li><%= link_to 'My Games', my_games_path %></li>
                  <li><%= link_to 'All games', games_path %></li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <ul class="sidenav #b71c1c blue darken-4 white-text " id="mobile-nav">
              <% if !current_user %>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/users/new">Signup</a></li>
              <% else %>
                  <li><%= link_to 'Make a new game', new_game_path %></li>
                  <li><%= link_to 'My Games', my_games_path %></li>
                  <li><%= link_to 'All games', games_path %></li>
              <% end %>
      </ul>
      </section>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>
    
    <div class="container">
      <%= yield %>
      <br><br>
      <% if current_user %>
        <%= link_to 'Make a new game', new_game_path %> |
        <%= link_to 'My Games', my_games_path %> |
        <%= link_to 'All games', games_path %>
      
        <p>Logged in as <%= current_user.username %> | <%= link_to "Logout", logout_path %></p>
      <% end %>
    </div>
 
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <script>
        // Sidenav
        const sideNav = document.querySelector('.sidenav');
        M.Sidenav.init(sideNav, {});

        // Slider
        const slider = document.querySelector('.slider');
        M.Slider.init(slider, {
          indicators: false,
          height: 500,
          transition: 500,
          interval: 6000
        });

      </script>
    
  </body>
</html>
